.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: teal;
  }
  #userDesc{
    background-color: teal;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* quiz aplication css */
  .txtStart {
    text-align: start;
  }
  .Box {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 25px;
    background-color: teal;
    color: white;
    width: 50%;
  }
  .Box:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  .txtHead {
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px;
  }
  .usertxtHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
  }
  .txtSpan {
    margin-left: 5px;
    color: black;
  }
  .userSubBox {
    display: flex;
    /* border: 2px solid white; */
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(10, 112, 112);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 25px;
  }
  .userSubBox:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: black;
    background-color:rgb(21, 76, 76);
    border-radius: 25px;
  }
  .userQueBox{
    padding: 10px;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .signupBox{
    width: 30%;
    text-align: start;
    margin: 5% auto;
    background-color: teal;
    color: white;
    padding: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .warning{
    color: red;
  }
  .logText{
    color: white;
    text-decoration: none;
  }
  .logText:hover{
    color: white;
  }
  .navlogo{
  font-weight: bold;
  }
  .eyeicon{
    position: relative;
    float: right;
    margin-top: -35px;
    margin-right: 8px;
    font-size: 20px;
  }
  /* medium secreen */
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .signupBox{
      width: 90%;
      text-align: start;
      margin: 5% auto;
      background-color: white;
      padding: 50px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
  }